:root{
    --primary-color:#534637;
    --link-color:#5e0606;
    --projects-color:#302d36;
    --projects-hover:#464350;
    --presentation-color:#DFDBC5;
    --presentation-hover:#f3f2e6;
    --contact-color:#ffffff;
    --contact-hover:#e9e6e6;
    --card-color:#f3f2e6;
    --tec-color:#f1e7e780;
    --contact-font-color:#363535;
}


@font-face {
    font-family: alkatra;
    src: url(/font/Alkatra-VariableFont_wght);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
    font-family: alkatra;
}


img{
    width: 100%;
    display: block;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: var(--presentation-color);
    display: flex;
    flex-direction: column;
    position: relative;
}


nav{
    cursor: pointer;
    text-align: center;
    font-size: smaller;
    font-weight: 500;
    padding:0px 0 0 0 ;
    width: 100%;
    display: flex;
    z-index: 3000;
}

.projects_nav{
    background-color: var(--projects-color);
    width: 100%;
    padding:10px 0 10px 0 ;
    color: var(--card-color);
    transition: background-color .5s;
}

.presentation_nav{
    background-color: var(--presentation-color);
    width: 100%;
    padding:10px 0 10px 0 ;
    transition: background-color .5s;
}


.contact_nav{
    background-color: var(--contact-color);
    width: 100%;
    padding:10px 0 10px 0 ;
    transition: background-color .5s;
    color: var(--contact-font-color);

}


.projects_nav:hover{
    background-color: var(--projects-hover);
}

.presentation_nav:hover{
    background-color: var(--presentation-hover);
}
.contact_nav:hover{
    background-color: var(--contact-hover);
}



.projects_container{
    background-color: var(--projects-color);
    width: 100%;
    top: 37px;
    height: 94vh;
    position: absolute;
    bottom: 100%;
    z-index: 100;
    transition: right 1s;
}

.projects_view{
    bottom: 0%;
}

.presentation_container{
    background-image: url(/assets/images/11.jpeg);
    background-repeat: no-repeat;    
    background-size: cover;
    background-position: right;
    
    display: flex;
    align-items: center;
    justify-content: start;

    width: 100%;
    top: 37px;
    height: 94vh;
    position: absolute;
    right: 0%;
    z-index: 100;
    transition: right 1s;
}


.presentation_view{
    right: 0%;
}

.presentation_view_initial{
    right: 100%;
}


.contact_container{
    background-color: var(--contact-color);
    background: linear-gradient(180deg, rgba(255,255,255)30%,rgb(148, 147, 138)100%);
    color: var(--contact-font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    top: 37px;
    height: 94vh;
    position: absolute;
    right: 100%;
    z-index: 100;
    transition: right 1s;
}

.contact_view{
    right: 0%;
}


.container_cards{
    margin: auto;
    width: 90%;
    height: 94vh;
    gap: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: .5rem;
    overflow-y: scroll;
}

.container_cards::-webkit-scrollbar{
    width: 5px;
}


.container_cards::-webkit-scrollbar-track{
    background: #21363686;
}

.container_cards::-webkit-scrollbar-thumb{
    background-color: rgb(173, 173, 173);
    border-radius: 20px;
}

.projects_card{
    background-color: var(--card-color);
    padding: .8rem;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .8rem;
    border: 1px solid white;
    border-radius: 1rem;
    overflow: hidden;
}


.projects_card img{
    height: 150px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform .5s;
}

.projects_card img:hover{
    transform: scale(1.05);
}


.projects_card .tec_img{
    background-color: var(--tec-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
    width: 100%;
    height: 40px;
}

.projects_card .tec_img img{
    height: 30px;
    width: 30px;
}

.projects_card .view_online b{
    cursor: pointer;
    color: var(--projects-color);
}

.project_description{
    background-color: #ffffff;
    padding: .5rem;
    border-radius: 1rem;
}



.presentation_info{
    width: 70%;
    padding-left: 1rem;
    text-align: left;
    backdrop-filter: blur(4px);   
    background-color: #f3f2e63a;
    color: #222121;
}


.presentation_container .span_to_projects{
    color: var(--link-color);
    cursor: pointer;
}

.linkedin a, .instagram_dev a, .instagram_art a{
    width: 100%;
}


.contact_container .linkedin, .instagram_dev, .instagram_art{
    width: 60%;
}



.contact_container .linkedin{
    background-image: url(/assets/images/linkedin-banner.jpg);
    background-position: left;
    background-size: cover;
    height: 105px;
    display: flex;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    border: 3px solid rgb(216, 215, 215);
    cursor: pointer;
    transition: transform .7s ;
}




.contact_container  .instagram_dev{
    background-image: url(/assets/images/dev-banner.jpg);
    background-position: right;
    background-size: cover;
    height: 105px;
    display: flex;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    border: 3px solid rgb(216, 215, 215);
    cursor: pointer;
    transition: transform .7s ;
}

.contact_container .instagram_art{
    background-image: url(/assets/images/music-banner.jpg);
    background-position: left;
    background-size: cover;
    height: 105px;
    display: flex;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    border: 3px solid rgb(216, 215, 215);
    cursor: pointer;
    transition: transform .7s ;
}



.contact_container .linkedin:hover, .instagram_dev:hover, .instagram_art:hover{
    transform: scale(1.1);
}




.contact_container .linkedin_logo, .instagram_logo{
    height: 100px;
    width: 100px;
    position: absolute;
    padding: .2rem;
}


.contact_container .linkedin_photo, .instagram_photo{
    height: 100px;
    width: 100%;
}


.contact_email{
    text-decoration: underline; 
    background-color: var(--contact-color);
    padding: .7rem;
    border-radius: .5rem;
}



/* LOAD STYLE */


.load_container{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: var(--presentation-color);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.load_full{
    display: none;
}


.balls{
    display: flex;
}


.ball{
    margin-top: 50px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: var(--projects-color);
    border: 2px solid #999;
    animation: bounce 3s infinite alternate;
    -webkit-animation: bounce 0.5s infinite alternate;
}

.ball2{
    margin-top: 50px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: var(--projects-color);
    border: 2px solid #999;
    animation: bounce 3s infinite alternate;
    -webkit-animation: bounce 1s infinite alternate;
}

.ball3{
    margin-top: 50px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: var(--projects-color);
    border: 2px solid #999;
    animation: bounce 3s infinite alternate;
    -webkit-animation: bounce 1.5s infinite alternate;
}

@keyframes bounce{
    from{
        trasform: translateY(0px)
    }
    to{
        transform: translateY(-50px);
    }
}

@-webkit-keyframes bounce{
    from{
        trasform: translateY(0px)
    }
    to{
        transform: translateY(-15px);
    }
}


/* LOAD STYLE */







@media (min-width: 500px) {
    .contact_container .linkedin, .instagram_dev, .instagram_art{
        width: 60%;
    }
}

@media (min-width: 800px) {
    .contact_container .linkedin, .instagram_dev, .instagram_art{
        width: 40%;
    }
    .presentation_container{
        background-image: url(/assets/images/10.jpeg);
        background-size: cover;
        padding-left: 1rem;
    }

    .presentation_info{
        margin-left: 6rem;
        width: 50%;
        padding-left: 1rem;
        text-align: left;
    }
}



